
PlagueJamGame/Saved/Logs/PlagueJamGame.log
PlagueJam/PlagueJamGame/Config/DefaultEditorPerProjectUserSettings.ini
PlagueJamGame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
PlagueJam/PlagueJamGame/Saved/Backup/
PlagueJam/PlagueJamGame/Saved/AutoSaves/
PlagueJam/PlagueJamGame/Saved/AutoScreenshot.png
