
PlagueJamGame/Saved/Logs/PlagueJamGame.log
PlagueJam/PlagueJamGame/Config/DefaultEditorPerProjectUserSettings.ini
PlagueJamGame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
PlagueJamGame/Saved/Logs/PlagueJamGame.log
PlagueJamGame/Saved/Config/Windows/EditorPerProjectUserSettings.ini
PlagueJamGame/Saved/AutoScreenshot.png
